<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Bac</title>
    <h1 align="center" ></h1>
    <h1 align="center" style="color:#FF1493"> Noi sustinem bacalaureat de nota 10!</h1>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="commonsteps/style.css">
</head>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Întrebari&&Raspunsuri</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Despre noi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Task</a>

            </li>
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cursuri</a>
        <li class="nav-item dropdown show">



        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
    <a class="btn btn-sm btn-outline-secondary" href="#">Login</a>
</nav>
<div class="jumbotron p-4 p-md-5 text-bg-dark rounded #FF1493">
<h1 align="center" style="color:#FF1493"> Noi sustinem bacalaureat de nota 10!</h1>
<div class="jumbotron p-4 p-md-5 text-bg-dark rounded DeepPink">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">
            ALEGE OFERTA EDUCAȚIONALĂ PERFECTĂ PENTRU TINE</h1>
        <p class="lead my-3">Cursurile de pregătire pentru bacalaureat se adresează liceenilor care trebuie să susțină examenul de bacalaureat.În acest site voi puteti gasiti toata materia necesara pentru a lua nota 10 la bac</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </a>
    </div>

    <h1 class="display-4 font-italic">
        Cele mai populare cursuri</h1>
<div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FF1493"></rect><text x="50%" y="50%" fill="#eceeef" dy=".2em">Matematica</text></svg>
    <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FF1493"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Engleza</text></svg>
    <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FF1493"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Romana</text></svg>
  
</div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>

    </footer>
</div>